.container {
    display   : flex;
    word-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    margin-top: 0 0;
    height: 20px;
    width: 100%;
}

.button {
    margin: 0 0;
}